/* * {
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
}
header{
    z-index: 1000;
}

.onglet{
    display: flex;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.onglet > h2:first-child{
    background-color: #504949;
    color: #fff;
}
.onglet > h2:nth-child(2){
    background-color: #8F8F8F;
    color: #fff;
}
.onglet > h2{
    padding-right:7%;
    padding-left: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.concert{
    color: #fff;
    z-index: 1;
    display: flex;
}
.concert > h1 {
    /* position: absolute;
    width: 25%;
    left: 50%;
    top: 40%; */
}
.map {
    /* position: absolute;
    width: 25%;
    left: 50%;
    top: 60%; */
}
.vote {
    /* position: absolute;
    width: 25%;
    left: 50%;
    top: 90%; */
}

/* .bgtransparent {
    background-color: #504949;
    mix-blend-mode: normal;
    color: #fff;
    display: flex;
    padding: 100%;
    z-index: 0;
}  */


.st0{
    fill: red;
    stroke: chartreuse;
    stroke-width:0.5;
}
.st0:hover{
    fill:blue;
}
#couchezero{
    z-index: 0;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh;
    overflow: hidden;
}
#couchezero>img{
    height:100% ;
}