html, body{
    margin : 0;
    padding : 0;
    display: flex;
    flex-direction: row;
    overflow: visible ;
    height: 100vh;
    width: 100%;
    }

#heroleft, #heroright{
    width: 50%;
    height: 100vh;
}


.pochette1, .pochette2{
    width: 100%; 
    height: 100vh; 
    z-index: -4;
    opacity: %;
}


.groupe1, .groupe2{
    position: relative;
    top: -60vh;
    width: 100%;
    height: 60vh;
}

.fond {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 2;
}

/*.groupe1, .groupe2{
    z-index: 3;
    bottom: 0;
    width:100%; 
    height:60vh;
    
}
*/

.concert, .stream{
    position: relative;
    top: -100vh;
}