body {
    background-color: black;
    overflow: hidden;
}

.groupe1, .groupe2{
    border: 2px solid gold;
    width: 300px;
    height: 300px;
}
.groupe1{
    margin-right: 100px;
}

.groupe2{
    margin-left: 100px;
}

.header{
    display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-left: 400px;
  margin-right: 400px;
  
  
}

.name1, .name2{
    color: white;
}

.name1{
    margin-left:100px;
}

.name2{
    margin-left:190px;
}

.bloc{
    background-color: gray;
    width: 200vh;
    height: 52vh;
    margin-left: 15px;
    
}

.select{
    text-align: center;
    font-size: 70px;
    margin-top: 40px;
}

.boutons{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.bouton1{
    background-color: black;
    opacity: 0.5;
    color: white;
    font-size: 65px;
    margin-right: 40px;
}

.bouton2{
    background-color: black;
    opacity: 0.5;
    color: white;
    font-size: 65px;
    margin-left:40px;
}