@import url('https://fontlibrary.org/face/press-start-2p');

body {
    background-color: black;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    font-family: 'Press Start 2P';
    color: white;
}

.title{
    text-align: center;
    font-size: 30px;
}

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 150px 150px; 
    grid-template-areas: 
      ". . ."
      ". . ."; 
      color: white;
      margin-left: 100px;
  }

  .container>div>img{
    width: 12vh;
    height: 16.5vh;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
    border-radius: 5%;
    border: red solid 3px;
  
}