@import url('https://fontlibrary.org//face/catv-6x12-9');

* {
    background-color: #000;
    color: white;
    overflow: hidden;
    font-family: 'CatV6x129Normal';
}

main {
    display: flex;
    flex-direction: column;
}

main>section:first-child {
    display: flex;
    flex-direction: row;
    max-height: 7vh;
}

main>section:first-child>div:first-child {
    background-color: #353131;
    font-size: 2vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
}

main>section:first-child>div:last-child {
    background-color: #8F8F8F;
    font-size: 2vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
}

#PageMap {
    height: 65vh;
    background-color: #353131;
    max-width: 100%;
    overflow: auto;
}

#PageMap>div {
    position: relative;
    top: -60%;
    left: 85vw;
    font-size: 3em;
    text-align: center;
    width: fit-content;
    width: -moz-fit-content;
    background-color: #8F8F8F;
}

#PageMap>div>p {
    background-color: #BCBCBC;
    box-shadow: -4px 5px 9px 1px #000000;
    border-radius: 5px;
    padding: 3px;
}

#PageMap>div>p:active {
    box-shadow: inset 2px 0px 20px 2px #000000;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
}

svg {
    height: 70%;
    display: block;
    margin: auto;
    background-color: #353131;
    margin-top: 1%;

}

#PageStream {
    height: 65vh;
    background-color: #353131;
    overflow-y: auto;
}


.hidden {
    display: none;
}

.st0 {
    fill: cornflowerblue;
    stroke: white;
    stroke-width: 0.5;
    background-color: #353131;
}

.st0:hover {
    fill: blue;
    stroke: black;
}

.stream * {
    background-color: #353131;
}

.stream {
    background-color: #353131;
}

@media only screen and (max-width: 1025px) {
    #PageStream, #PageMap {
        height: 85vh;
    }

    main>section:first-child>div {
        font-size: 50px !important;
        width: 25vw;
        height: 3vh;
        text-align: center;
    }

    #PageMap>div {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        top: 85vh;
        left: 35vw;
        font-size: 3em;
        text-align: center;
        width: fit-content;
        background-color: #8F8F8F;
    }
    #PageMap>div p {
        width: 15vw;
    }

}