
h2{
    font-size: 1.7rem;
}

.stream{
    margin-top: 1vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-around;
    background-color: #353131;
}

.group{
    width: 80%;
    margin: 1vh;
}

.ligne{
    display: flex;
    justify-content: space-between;
}

.ligne div{
    margin: 1%;
}

.ligne div>img{
    width: auto;
    max-height: 100px;
}

.ligne div>p{
    width: 200px;
    min-height: 32px;
    max-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}


@media only screen and (max-width: 1025px) {
    .stream{
        margin-top: 2vh;
    }
    h2{
        font-size: 45px;
    }
    .group{
        margin: 1vh;
    }

    .ligne{
        justify-content: space-around !important;
        flex-wrap: wrap;
    }

    .ligne div>img{
        width: auto;
        max-height: 150px;
    }
    
    .ligne div>p{
        width: 200px;
        min-height: 75px;
        max-height: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 35px;
    }

}