@import url('https://fontlibrary.org/face/press-start-2p');

body{
    font-family: 'Press Start 2P';
    background-color:#262626;
    color: white;
}

header {
    margin-top: 30vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 5000000000000;
    height: 30vh;
    padding-top: 2%;
    font-family: 'Press Start 2P';
}

header>div:first-child>img {
    height: 80%;
    width: 300px;
    border: 1px solid rgb(172, 172, 158);
    object-fit: cover;
    cursor: pointer;
}

header>div:last-child>img {
    height: 80%;
    width: 300px;
    border: 1px solid rgb(172, 172, 158);
    object-fit: cover;
    cursor: pointer;
}

header>div>div {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 8px;
}

#logovs {
    height: 70%;
    margin-top: 3vh;
    cursor: pointer;
}

.creditEtSources{
    position: absolute;
    top: 5vh;
    left: 95vw;
    color: white;
    width: 2%;
    filter: invert();
    background-color: transparent;
    cursor: pointer;
    transition: opacity;
    opacity: 1;
    transition-duration: 0.5s;
    transition-delay: 0.05s;
}
.creditEtSources:hover{
    opacity: 0.3;
}

header>div{
    text-align: center;
}

h2{
    text-align: center;
}

.explic{
    text-align: center;
}

.container>img{
    max-width: 500px;
    max-height: ;
    border: 1px solid rgb(172, 172, 158);
}

#veil{
    display:none;
    position: absolute;
    top:0;
    left:0;
    z-index: 6001;
    height:100vh;
    width:100vw;
    background-color:#282828;
    overflow:hidden;
}
 h1{
    display:flex;
    justify-content:center;
    color:white;
    z-index: 6003;

}

body,#veil{
    background-image:url(../img/background.svg);
    background-repeat:repeat;
    left:0px;
    z-index: 6002;
}

.maxbar{
    height:20px ;
    background: #404040;
    z-index: 6899;
}



#grid{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
}

.container:first-child{
    margin: auto;
    grid-column: 1/1;
}
.container:last-child{
    margin: auto;
    grid-column: 2/2;
}

#logors, #logobeatles{
    max-width: 300px;
    max-height: 200px;
    border: 1px solid rgb(172, 172, 158);
}

.fleche{
    position: relative;
    top: -25vh;
}

@media only screen and (max-width: 1025px){
    header{
        display: flex;
        flex-direction: column;
    }

    #logovs{
        width: 20vw;
        justify-content: center;
        margin-left: 40vw;
        margin-bottom: 2vh;
    }

    .explic{
        position: relative;
        top: 10vh;
        font-size: 25px;
    }

    #grid{
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
    }

    h1{
        text-align: center;
        margin: 2%;
        margin-top: 5vh;
    }

    h2{
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .container>img{
        max-width: 500px;
        border: 1px solid rgb(172, 172, 158);
    }

    .container p{
       font-size: 25px;
    }

    .creditEtSources{
        width: 6%;
        left: 90vw;
    }

}